/* LoginPage.css */
.login-page {
  display: flex;
  inline-size: 100vw;
  block-size: 100vh;
  font-family: sans-serif;
  flex-direction: row-reverse;
}
@media (max-width: 678px) {
  .login-page {
    flex-direction: column-reverse;
    height: auto; /* allow content height instead of 100vh */
  }
  .login-right-title {
    padding-block-start: 50px;
  }
}
.login-left {
  flex: 1;
  background-color: #ffffff;
  padding: 60px 40px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right {
  flex: 1;
  background: linear-gradient(135deg, #1126e0 0%, #8a1ca5 100%);
  color: rgb(255, 255, 255);
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.login-subtitle {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #000000;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  display: flex;
  width: 17rem;
  align-items: center;
  justify-content: center; /* or 'start' if you want left-align */
  padding: 10px;
  font-size: 1rem;
  background-color: #2051a0;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.google-icon {
  width: 10%;
  padding-inline-start: 10px;
}

.login-right-title {
  font-size: 1.8rem;
  font-weight: bolder;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

.login-right-desc {
  font-size: 1rem;
  max-width: 300px;
  color: white;
  background-color: transparent;
  font-weight: bold;
}

.top-buttons {
  position: absolute;
  top: 30px;
  right: 40px;
  display: flex;
  gap: 10px;
  background-color: transparent;
}

.join-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.sign-up-link {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.logoImg {
  width: 100%;
  max-width: 500px; /* or whatever makes sense */
  align-self: center; /* to center it if needed */
}
